/*CSS - mostly the first page, might use these classes for other settings as well.*/
html, body{ /*So the background of the page will always take the full-size of the screen*/
    height: 100%;
    transition: background 1.5s ease-in-out;
    background-color: #0c192c;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.container-fluid{ /*Even tho this class is take from the Boostrap Library, the background_bubbles class has a relative position, this left alone would make the website open from the bottom of the page, unwanted option so it needed an absolute value in order to open from the top*/
    position:absolute;
}

.fixed_element{ /*Used it for the items that are having a fixed position on the screen, therefor such items will follow the user on the page without changing their position --> ex: the logo*/
    position:fixed;
    height: 175px;
    width: 225px;
    z-index: 1;
}

.title_main-page{
   text-align:center;
    size: 40%;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    position: relative;
    margin: 3rem 5rem 1rem 5rem;   
}
.text_page{
  margin: 1rem 10rem 0 10rem;
}


.backgroundimage_headline_product{
  height: auto;
  width: 90%;
  justify-content: center;
  margin-left:1rem;
  border-radius: 5%;
}
.backgroundgif_headline_product{
  height: auto;
  width: 90%;
  justify-content: center;
  margin-left:1rem;
  border-radius: 5%;
}


/*Cool animated waves for the about pages*/  
  h1 {
    font-family: 'Lato', sans-serif;
    font-weight:300;
    letter-spacing: 2px;
    font-size:48px;
  }
  p {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size:14px;
    color: #333333;
  }
  
  .header {
    position:relative;
    text-align:center;
    color:white;
  }
  .logo {
    width:50px;
    fill:white;
    padding-right:15px;
    display:inline-block;
    vertical-align: middle;
  }
  
  .inner-header {
    height:65vh;
    width:100%;
    margin: 0;
    padding: 0;
  }
  
  .flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px;
    min-height:100px;
    max-height:150px;
  }
  
  .content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
    margin: 0;
    padding: 0;
  }
  
  /* Animation  background */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
  }
/*-------------------------------------------------------*/

/*Content of the page*/
.page-container{
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 0;
}
.icon_order{
    height: 250px;
    width: 250px;
    margin: 3rem 5rem 3rem 5rem;
    border-radius: 50%;
    background-color: #fff;
    font-size: 150px;
    border: 2px solid black;
    text-align: center;
    color: #1c3a68;
    cursor: pointer;
    transition: 1s ease-in-out;
}
.icon_order:hover, .icon_order_smaller:hover{
    background-color: #4eb338;
    transition-duration: 0.1s
}
.icon_order_active{
    background-color:#4eb338 ;
    transition: 2s ease-in-out;
}
.icon_order_smaller_active{
    background-color:#4eb338 ;
    transition: 2s ease-in-out;
}
.icon_order_unactive{
    background-color: #fff;
    transition: 2s ease-in-out;
}

.icon_center{
    margin-top:2rem ;
}
.icon_order_smaller{
    height: 200px;
    width: 200px;
    margin: 3rem 5rem 1rem 5rem;
    border-radius: 50%;
    /*Do not set any background color in here, otherwise the animation shall not work properly, as another background attributes will override the settings*/
    font-size: 100px;
    border: 2px solid black;
    text-align: center;
    color: #1c3a68;
    cursor: pointer;
    transition: 1s ease-in-out;
}
.head_page_message{
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px;

}
.icon_container{
    width: 100%;
    height: auto;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px;
}

/*Menu*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background:rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1;
    animation: splash 0.5s ease-in-out;
}

@keyframes splash {
    0% {
      opacity: 0;

    }
    50% {
      

    }
    100% {
        opacity: 1;
    }
  }

.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    transition: 1s ease-in-out;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 0 10px;
}

.menu a {
    display: block;
    text-align: center;
    font-size: 35px;
    font-weight: 1000;
    color: #0c192c;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.menu a:hover {
    color: #fff;
}
/**/

/*Cool menu blob - animated*/
.blob{
    position: absolute;
    width: 800px;
    height: 800px;
}
.blob:nth-child(2)
{
    filter: blur(50px);
}
/*---*/

/*----------------------------------------------------------------------*/
/*Css for the Burger button and animation*/
.menu_button{   
position: relative;
display: flex;
justify-content: right;
align-items:center;
width: 80px;
height: 80px;
cursor: pointer;
transition: all .5s ease-in-out;
z-index: 2;
margin-right: 1rem;
margin-top: 2rem;
}

.menu_button_burger{
width: 50px;
height: 6px;
background: black;
border-radius: 5px;
box-shadow: #f04d8e;
transition: all .5s ease-in-out;
margin-right: 1rem;
margin-top: 2rem;
}


.menu_button_burger::before,
.menu_button_burger::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: black;
    border-radius: 5px;
    box-shadow: #f04d8e;
    transition: all .5s ease-in-out;
}

.menu_button_burger::before{
    transform: translateY(-16px);
}

.menu_button_burger::after{
    transform: translateY(16px);
}

/*Actual Animation*/
.menu_button.open .menu_button_burger{
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu_button.open .menu_button_burger::before{
    transform: rotate(45deg) translate(35px, -35px);
    background: white; 
}
.menu_button.open .menu_button_burger::after{
    transform: rotate(-45deg) translate(35px, 35px);
    background: white;  
}
/*Css for the Burger button and animation - ENDS HERE*/
/*----------------------------------------------------------------------*/
/*Cards for the icons*/
.lordicon-icons{
  width: 250px;
  height: 250px;
  z-index: 2;
}
article {
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: transparent;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  text-align: center;
}
.article-wrapper{
  text-align: center;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  content: "";
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.9rem;
  letter-spacing: 0.06em;

}

figure {
  margin: 2rem 0 0 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  text-align: center;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */



.articles {
  display: grid;
  max-width: 4000px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  gap: 24px;
}

@media screen and (max-width: 960px) {

  .article-body p {
    font-size: 16px;
  }
  .article-body h2 {
    display: none;
  }
  .lordicon-icons{
    width: 100px;
    height: 100px;
  }
  .article-wrapper{
    text-align: left;
  }
  .center-card{
    text-align: left;
  }
}


.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

/*----------------------------------------------------------------------*/

/*Code for the webpages display - label format*/


h3{
  font-weight: 300;
  font-size: 25px;
}

h4{
  font-size: 18px;
  font-weight: 300;
}

.card.card-carousel {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px ;
  color: rgba(0,0,0,.87);
  background: #fff;
  width: 100%;
  height: auto;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.card.card-carousel img{
  border-radius: 6px;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel .carousel-indicators {
  bottom: 5px;
}

.carousel .carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  text-indent: -999px;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
  border-radius: 2px;
}

.carousel .carousel-indicators .active{
  margin: 11px 10px; 
} 

.carousel .carousel-indicators li {
  margin: 11px 10px;
}

.carousel .carousel-indicators .active {
  margin-top: 10px;
  transform: scale(1.5);
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  display: none;
  align-items: center;
  width: 100%;
  transition: transform .6s ease;
  backface-visibility: hidden;
  perspective: 1000px;
}

.carousel-item.active {
  display: block;
}

.carousel .carousel-caption {
  padding-bottom: 45px;
}

.carousel .carousel-caption .material-icons {
  position: relative;
  top: 5px;
}

.carousel .carousel-control-next .material-icons{
  z-index: 5;
  display: inline-block;
  font-size: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  margin: auto;
}

.carousel .carousel-control-prev .material-icons {
  z-index: 5;
  display: inline-block;
  font-size: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  margin: auto;
}

/*-------------------*/

/*Rotating Slider*/

/*----------------*/

/*Code for the people working on the page*/
.card-people img{
  height:auto;
  width:100%;
}

div [class^="col-"]{
  padding-left:5px;
  padding-right:5px;
}
.card-people{
  transition:0.5s;
  cursor:pointer;
}
.card-title{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
}
.card-title i{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
  color:#ffa710
}
.card-title i:hover{
  transform: scale(1.25) rotate(100deg); 
  color:#18d4ca;
  
}
.card-people:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
.card-text{
  height:80px;  
}

.card-people::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.card-people::before {
  transform-origin: left top;
}
.card-people::after {
  transform-origin: right bottom;
}
.card-people:hover::before, .card:hover::after, .card:focus::before, .card-people:focus::after {
  transform: scale3d(1, 1, 1);
}
/*---------------------*/

/*Code for the item gallery*/
.item_showcase{
  width: auto;
  height: 500px;
  background-color: #4eb338;
}

.item_showcase-bigimg{
  position: absolute;
  min-width: 200px;
  max-width: 400px;
  min-height: 200px;
  max-height: 400px;
  top: 20%;
  left: 20%;
}

.item_showcase-smallimg{
  position: fixed;
  min-width: 100px;
  max-width: 200px;
  min-height: 100px;
  max-height: 200px;
  top: 40%;
  left: 40%;
}

.item_showcase_text{
  width: auto;
  height: 400px;
  text-align: center;
  background-color: #ffa710;
}
/*---------------*/

/*Code for the Items display - rotation flashcards*/

/*---------------------*/

/*Footer code ---------------------------*/

  .footer-distributed{
      background: #0c192c;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
      box-sizing: border-box;
      width: 100%;
      text-align: left;
      font: bold 16px sans-serif;
      padding: 55px 50px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
      display: inline-block;
      vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
      width: 30%;
  }
  
  /* The company logo */
  
  .footer-distributed h3{
      color:  #ffffff;
      font: normal 36px 'Josefin Sans';
      margin: 0;
  }
  
  .footer-distributed h3 span{
      color:  lightseagreen;
  }

  .footer-company-name{
      color:  #ffff;
      font-size: 14px;
      font-weight: bold;
      margin: 0;
      padding: 0 0 0 40px;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
      width: 35%;
  }
  
  .footer-distributed .footer-center i{
      background-color:  #33383b;
      color: #ffffff;
      font-size: 25px;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      margin: 10px 15px;
      vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
      font-size: 17px;
      line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
      display: inline-block;
      color: #ffffff;
    font-weight:400;
      vertical-align: middle;
      margin:0;
  }
  
  .footer-distributed .footer-center p span{
      display:block;
      font-weight: normal;
      font-size:14px;
      line-height:2;
  }
  

  /* Footer Right */
  
  .footer-distributed .footer-right{
      width: 20%;
  }
  
  .footer-distributed .footer-company-about{
      line-height: 20px;
      color:  #0c192c;
      font-size: 13px;
      font-weight: normal;
      margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
      display: block;
      color:  #ffffff;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
      margin-top: 50px;
  }
  
  .footer-distributed .footer-icons a{
      display: inline-block;
      width: 50px;
      height: 50px;
      cursor: pointer;
      background-color:  #0c192c;
      border-radius: 2px;
  
      font-size: 20px;
      color: #ffffff;
      text-align: center;
      line-height: 35px;
  
      margin-right: 3px;
      margin-bottom: 5px;
  }
  

  /*Settings for phone-screen adjustments:*/
@media only screen and (max-width: 414px){
    .fixed_element{
        position: fixed;
        height: 80px;
        width: 120px;
        margin: 20px 5px 5px 2.5px;

}

.menu_button_burger::before,
.menu_button_burger::after, .menu_button_burger, .menu_button{
    width: 40px;
    height: 4px;
    
}
.menu_button{
    margin-top: 2.5rem;
}


}

  @media (max-width: 880px) {
  
      .footer-distributed{
          font: bold 14px sans-serif;
      }
  
      .footer-distributed .footer-left,
      .footer-distributed .footer-center,
      .footer-distributed .footer-right{
          display: block;
          width: 100%;
          margin-bottom: 40px;
          text-align: center;
      }
  
      .footer-distributed .footer-center i{
          margin-left: 0;
      }

      .icon_order{
        font-size: 60px;
        height: 100px;
        width: 100px;
        padding: 1rem 1rem 1rem 1rem;
        margin: 1rem 1rem 1rem 2rem;
      }
      .icon_order_smaller{
        font-size: 60px;
        height: 100px;
        width: 100px;
        padding: 1rem 1rem 1rem 1rem;
        margin: 3rem 1rem 1rem 2rem;
      }
      .icon_center{
        margin-top: -5px;
      }
      .text_page{
        margin: 2rem 1rem 0 1rem;
      }
      .fixed_element{
        width: 100px;
        height: 85px;
        position: fixed;
      }
      .menu_button{
        width: 60px;
        height: 60px;
      }
      .lordicon-icons{
        width: 150px;
        height: 150px;
      }
      .card{
        width: auto;
        height: 300px;
        margin-left: 5px;
        margin-right: 5px;
      }
  
  }
  
/*---------------------------*/